CLANG_CXX_LANGUAGE_STANDARD=gnu++20
CODE_SIGN_IDENTITY=Apple Development
CODE_SIGN_IDENTITY[sdk=macosx*]=-
CODE_SIGN_STYLE=Automatic
COMBINE_HIDPI_IMAGES=YES
CURRENT_PROJECT_VERSION=1
DEVELOPMENT_TEAM=
ENABLE_USER_SCRIPT_SANDBOXING=NO
GENERATE_INFOPLIST_FILE=YES
INFOPLIST_FILE=CorkHelp/CorkHelp-Info.plist
INFOPLIST_KEY_NSHumanReadableCopyright=
INSTALL_PATH=$(LOCAL_LIBRARY_DIR)/Bundles
MACOSX_DEPLOYMENT_TARGET=13.0
MARKETING_VERSION=0.1
PRODUCT_BUNDLE_IDENTIFIER=com.davidbures.corkhelp
PRODUCT_NAME=$(TARGET_NAME)
PROVISIONING_PROFILE_SPECIFIER=
SKIP_INSTALL=YES
SWIFT_EMIT_LOC_STRINGS=YES
WRAPPER_EXTENSION=help

