ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES=YES
ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME=AccentColor
CODE_SIGN_ENTITLEMENTS=Cork/Cork.entitlements
CODE_SIGN_IDENTITY=-
CODE_SIGN_IDENTITY[sdk=macosx*]=Apple Development
CODE_SIGN_STYLE=Automatic
COMBINE_HIDPI_IMAGES=YES
CURRENT_PROJECT_VERSION=73
DEAD_CODE_STRIPPING=YES
DEVELOPMENT_ASSET_PATHS="Cork/Preview Content"
DEVELOPMENT_TEAM=ZSVA6DVZHM
ENABLE_HARDENED_RUNTIME=YES
ENABLE_PREVIEWS=YES
GENERATE_INFOPLIST_FILE=YES
INFOPLIST_FILE=Cork/Info.plist
INFOPLIST_KEY_LSApplicationCategoryType=public.app-category.utilities
INFOPLIST_KEY_NSHumanReadableCopyright=
MARKETING_VERSION=1.4.4.1
PRODUCT_BUNDLE_IDENTIFIER=com.davidbures.Cork
PRODUCT_NAME=$(TARGET_NAME)
SWIFT_EMIT_LOC_STRINGS=YES
SWIFT_VERSION=5.0

LD_RUNPATH_SEARCH_PATHS[config=Debug]=$(inherited) @executable_path/../Frameworks
LD_RUNPATH_SEARCH_PATHS[config=Release]=$(inherited) @executable_path/../Frameworks
LD_RUNPATH_SEARCH_PATHS[config=Self-Compiled]=$(inherited) @executable_path/../Frameworks
SWIFT_ACTIVE_COMPILATION_CONDITIONS[config=Self-Compiled]=SELF_COMPILED
